.pending-col {
  background-color: rgba(244, 67, 54, 0.15);
}

.progress-col {
  background-color: rgba(255, 193, 7, 0.15);
}

.completed-col {
  background-color: rgba(76, 175, 80, 0.15);
}

.task-card {
  transition: transform 0.2s;
}

.btn-hover:hover {
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn-primary-solid {
  background: rgba(253, 129, 58, 0.993) !important;
  color: white !important;
}

.btn-warn-solid {
  background: rgba(252, 73, 60, 0.904) !important;
  color: white !important;
}

.btn-primary-solid mat-icon,
.btn-warn-solid mat-icon {
  color: white !important;
}
