.pending-col {
  background-color: rgba(244, 67, 54, 0.15);
}

.progress-col {
  background-color: rgba(255, 193, 7, 0.15);
}

.completed-col {
  background-color: rgba(76, 175, 80, 0.15);
}

.task-card {
  transition: transform 0.2s;
  
  &.clickable:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  }
}